# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.DinoPet.iml
# Datasource local storage ignored files
/../../../../../../../:\Unity Projekte\DinoPet\DinoPet\.idea\.idea.DinoPet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
